<h1>Listing char_classes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @char_classes.each do |char_class| %>
  <tr>
    <td><%= char_class.id %></td>
    <td><%= char_class.name %></td>
    <td><%= link_to 'Show', char_class %></td>
    <td><%= link_to 'Edit', edit_char_class_path(char_class) %></td>
    <td><%= link_to 'Destroy', char_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Char class', new_char_class_path %>
