<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @char_class.id %>
</p>

<p>
  <b>Name:</b>
  <%= @char_class.name %>
</p>


<%= link_to 'Edit', edit_char_class_path(@char_class) %> |
<%= link_to 'Back', char_classes_path %>
