<%= form_for(@spell) do |f| %>
  <% if @spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spell.errors.count, "error") %> prohibited this spell from being saved:</h2>

      <ul>
      <% @spell.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.text_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :range %><br />
    <%= f.text_field :range %>
  </div>
  <div class="field">
    <%= f.label :target_type_id %><br />
    <%= f.text_field :target_type_id %>
  </div>
  <div class="field">
    <%= f.label :usable_by_id %><br />
    <%= f.text_field :usable_by_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
