<h2>Search Spells</h2>

<%= form_tag({}, :method => "get") do %>
	<table border="0" cellpadding="0" cellspacing="10">
		<tr>
			<td width="150px">
				Spell Name:
			</td>
			<td class="field">
				<%= text_field_tag(:spell_name) %> (can use partial names, capitalization ignored)
			</td>
		</tr>
		<tr>
			<td width="150px">
				Casting message:
			</td>
			<td class="field">
				<%= text_field_tag(:cast_msg) %> (can use partial messages, capitalization ignored, applies to self and "cast on other")
			</td>
		</tr>
		<tr>
			<td>
				Resist type:
			</td>
			<td class="field">
				<%= check_box_tag(:cold_resist) %>
				<%= label_tag(:cold_resist, "Cold") %>		
				<%= check_box_tag(:fire_resist) %>
				<%= label_tag(:fire_resist, "Fire") %>		
				<%= check_box_tag(:magic_resist) %>
				<%= label_tag(:magic_resist, "Magic") %>		
				<%= check_box_tag(:poison_resist) %>
				<%= label_tag(:poison_resist, "Poison") %>		
				<%= check_box_tag(:disease_resist) %>
				<%= label_tag(:disease_resist, "Disease") %>
			</td>	
		</tr>
		<tr>
			<td>
			  Classes:
			</td>
			<td class="field">
				<table border="0">
					<tr>
						<td class="field">
							<%= check_box_tag(:war) %>
							<%= label_tag(:war, "WAR") %>	
						</td>
						<td class="field">
							<%= check_box_tag(:clr) %>
							<%= label_tag(:clr, "CLR") %>	
						</td>
						<td class="field">
							<%= check_box_tag(:pal) %>
							<%= label_tag(:pal, "PAL") %>	
						</td>
						<td class="field">
							<%= check_box_tag(:rng) %>
							<%= label_tag(:rng, "RNG") %>		
						</td>
						<td class="field">
							<%= check_box_tag(:shd) %>
							<%= label_tag(:shd, "SHD") %>	
						</td>
					</tr>
					<tr>
						<td class="field">
							<%= check_box_tag(:dru) %>
							<%= label_tag(:dru, "DRU") %>		
						</td>
						<td class="field">
							<%= check_box_tag(:mnk) %>
							<%= label_tag(:mnk, "MNK") %>		
						</td>
						<td class="field">
							<%= check_box_tag(:brd) %>
							<%= label_tag(:brd, "BRD") %>		
						</td>
						<td class="field">
							<%= check_box_tag(:rog) %>
							<%= label_tag(:rog, "ROG") %>		
						
						</td>
						<td class="field">
							<%= check_box_tag(:shm) %>
							<%= label_tag(:shm, "SHM") %>		
						</td>
					</tr>
					<tr>
						<td class="field">
							<%= check_box_tag(:nec) %>
							<%= label_tag(:nec, "NEC") %>		
						</td>
						<td class="field">
							<%= check_box_tag(:wiz) %>
							<%= label_tag(:wiz, "WIZ") %>		
						</td>
						<td class="field">
							<%= check_box_tag(:mag) %>
							<%= label_tag(:mag, "MAG") %>		
						</td>
						<td class="field">
							<%= check_box_tag(:enc) %>
							<%= label_tag(:enc, "ENC") %>		
						</td>
						<td class="field">
							<%= check_box_tag(:bst) %>
							<%= label_tag(:bst, "BST") %>	
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				Spell Type:
			</td>
			<td class="field">
				<%= radio_button_tag(:beneficial, "1", true) %>
				<%= label_tag(:beneficial, "Both") %>		
				<%= radio_button_tag(:beneficial, "2", false) %>
				<%= label_tag(:beneficial, "Beneficial") %>		
				<%= radio_button_tag(:beneficial, "3", false) %>
				<%= label_tag(:beneficial, "Detrimental") %>
			</td>
		</tr>
		<tr>
			<td>
				Mana: 
			</td>
			<td class="field">
				<%= text_field_tag(:minmana, nil, :size => 5) %> (min) to <%= text_field_tag(:maxmana, nil, :size => 5) %> (max)
			</td>
		</tr>
		<tr>
			<td>
				Level: 
			</td>
			<td class="field">
				<%= text_field_tag(:levelmin, nil, :size => 5) %> (min) to <%= text_field_tag(:levelmax, nil, :size => 5) %> (max)
			</td>
		</tr>
		<tr>
			<td>
				Requires Reagent:
			</td>
			<td class="field">
				<%= check_box_tag(:requiresreagent) %>
			</td>
		</tr>
		<tr>	
			<td>&nbsp;</td>
			<td class="actions">
				<%= submit_tag("Search") %>
			</td>
		</tr>
	</table>
	
	<%= hidden_field_tag(:s, "t") %>
<% end %>

<br />

