<% require 'duration' %>
<h1>Spell Details</h1>
<br/>

<% if notice != "" %>
	<p id="invalid_params">The following errors occurred:<br/><%= raw(notice) %></p>
<% else %>
<% @spells.each do | spell | %>
<% @is_self = (spell["target_name"].chomp == "Self" ? true : false) %>
<table border="1" width="650">
	<tr>
		<td colspan="3"><h2><%= spell.name %></h2></td>
	</tr>
	<tr>
		<td><b>Mana Cost: </b><%= spell.mana_cost %></td>
		<td><b>Type: </b><%= (spell.beneficial == true) ? "Beneficial" : "Detrimental" %></td>
		<td><b>Target Type: </b><%= spell["target_name"] %></td>
	</tr>
	<tr>
		<td><b>Cast Time: </b><%= "%.1f" % (spell.cast_time / 1000) %> seconds</td>
		<td><b>Recast Time: </b><%= "%.1f" % (spell.recast_time / 1000) %></td>
		<td><b>Skill: </b><%= spell["skill_name"] %></td>
	</tr>
	<tr>
		<td><b>Resist Type: </b>
			<% if (spell["resist_name"] == nil or spell["resist_name"] == "")
				if (spell.beneficial == true) %>
					<%= "N/A" %>
				<% else %>
					<%= "Unresistable" %>
				<% end %>
			<% else %>
				<%= spell["resist_name"] %>
			<% end %>
		</td>
		<td><b>Resist Adj: </b><%= (@is_self or (spell["resist_name"] == nil or spell["resist_name"] == ""))  ? "N/A" : spell.resist_adj %></td>
		<td><b>Spell ID: </b><%= spell.id %></td>
	</tr>
	<tr>
		<td><b>Range: </b><%= @is_self ? "N/A" : spell.range %></td>
		<td><b>AE Range: </b><%= @is_self ? "N/A" : spell.ae_range %></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><b>Duration: </b>
			<% if (spell.ae_duration == 7500) %>
				<!-- Rain-type spell -->
				Rain
			<% elsif (spell.duration > 0) %>
				<% duration = Duration.new(spell.duration.to_i * 6) %>
				<%= spell.duration %> ticks (<%= duration.to_s %>)
			<% else %>
				Instant
			<% end %>
		</td>
		<td><b>AE Duration: </b>
			<% if (spell.ae_duration != 7500) %>
				<%= spell.ae_duration %>
			<% end %>
		</td>
		<td><b>Push: </b><%= @is_self ? "N/A" : spell.push %></td>
	</tr>
	<tr>
		<td colspan="3"><b>Reagents: </b>
			<%
				reagents = ""
				if (spell["reagent1_name"] != nil and spell["reagent1_name"] != "") 
					reagents = spell["reagent1_name"] 
					reagents += " (" + spell.reagent1qty.to_s + ")" 
				end
				if (spell["reagent2_name"] != nil and spell["reagent2_name"] != "") 
					reagents += ", " + spell["reagent2_name"] + " (" + spell.reagent2qty.to_s + ")"
				end
			%>
			<%= reagents == "" ? "None" : reagents %>
		</td>
	</tr>
	<tr>
		<td colspan="3"><b>Classes: </b><%= spell["classes"] %></td>
	</tr>
	<tr>
		<td colspan="3"><b>Effects:</b><br/>
			<% @arrEffects.each do | effect | %>
				<% next if effect == "" %>
				<%= raw(effect) %><br/>
			<% end %>	
		</td>
	</tr>
	<% if (spell["recourse_name"] != nil and spell["recourse_name"] != "") %>
		<tr>
			<td colspan="3"><b>Recourse: </b><%= link_to spell["recourse_name"], detail_search_spells_path(:spell_id => spell.recourse_id) %></td>
		</tr>
	<% end %> 
	<tr>
		<td colspan="3"><b>Cast on You: </b><%= spell["castonyou"] %></td>
	</tr>
	<tr>
		<td colspan="3"><b>Cast on Other: </b><% if spell["castonother"] != "" %>Target <%= spell["castonother"] %><% end %></td>
	</tr>
	<tr>
		<% if @hashStacks and @hashStacks.length > 0 %>
			<td colspan="3"><b>Spells that Will Not Stack:</b><p>
			<% @hashStacks.each do |stack| %>
				<%= link_to stack[1], detail_search_spells_path(:spell_id => stack[0]) %><br/>
			<% end %>
			</p></td>
		<% end %>
	</tr>
</table>
<% end %>
<% end %>
