<%= form_for(@map_spell_to_char_class) do |f| %>
  <% if @map_spell_to_char_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map_spell_to_char_class.errors.count, "error") %> prohibited this map_spell_to_char_class from being saved:</h2>

      <ul>
      <% @map_spell_to_char_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spell_id %><br />
    <%= f.text_field :spell_id %>
  </div>
  <div class="field">
    <%= f.label :class_id %><br />
    <%= f.text_field :class_id %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
