<h1>Listing map_spell_to_char_classes</h1>

<table>
  <tr>
    <th>Spell</th>
    <th>Class</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @map_spell_to_char_classes.each do |map_spell_to_char_class| %>
  <tr>
    <td><%= map_spell_to_char_class.spell_id %></td>
    <td><%= map_spell_to_char_class.class_id %></td>
    <td><%= map_spell_to_char_class.level %></td>
    <td><%= link_to 'Show', map_spell_to_char_class %></td>
    <td><%= link_to 'Edit', edit_map_spell_to_char_class_path(map_spell_to_char_class) %></td>
    <td><%= link_to 'Destroy', map_spell_to_char_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Map spell to char class', new_map_spell_to_char_class_path %>
