<p id="notice"><%= notice %></p>

<p>
  <b>Spell:</b>
  <%= @map_spell_to_char_class.spell_id %>
</p>

<p>
  <b>Class:</b>
  <%= @map_spell_to_char_class.class_id %>
</p>

<p>
  <b>Level:</b>
  <%= @map_spell_to_char_class.level %>
</p>


<%= link_to 'Edit', edit_map_spell_to_char_class_path(@map_spell_to_char_class) %> |
<%= link_to 'Back', map_spell_to_char_classes_path %>
