<h1>Listing effect_types</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @effect_types.each do |effect_type| %>
  <tr>
    <td><%= effect_type.id %></td>
    <td><%= effect_type.name %></td>
    <td><%= link_to 'Show', effect_type %></td>
    <td><%= link_to 'Edit', edit_effect_type_path(effect_type) %></td>
    <td><%= link_to 'Destroy', effect_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Effect type', new_effect_type_path %>
