<%= form_for(@effect) do |f| %>
  <% if @effect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@effect.errors.count, "error") %> prohibited this effect from being saved:</h2>

      <ul>
      <% @effect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spell_id %><br />
    <%= f.text_field :spell_id %>
  </div>
  <div class="field">
    <%= f.label :slot %><br />
    <%= f.text_field :slot %>
  </div>
  <div class="field">
    <%= f.label :effect %><br />
    <%= f.text_field :effect %>
  </div>
  <div class="field">
    <%= f.label :formula %><br />
    <%= f.text_field :formula %>
  </div>
  <div class="field">
    <%= f.label :base1 %><br />
    <%= f.text_field :base1 %>
  </div>
  <div class="field">
    <%= f.label :base2 %><br />
    <%= f.text_field :base2 %>
  </div>
  <div class="field">
    <%= f.label :max %><br />
    <%= f.text_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
