<p id="notice"><%= notice %></p>

<p>
  <b>Spell:</b>
  <%= @effect.spell_id %>
</p>

<p>
  <b>Slot:</b>
  <%= @effect.slot %>
</p>

<p>
  <b>Effect:</b>
  <%= @effect.effect %>
</p>

<p>
  <b>Formula:</b>
  <%= @effect.formula %>
</p>

<p>
  <b>Base1:</b>
  <%= @effect.base1 %>
</p>

<p>
  <b>Base2:</b>
  <%= @effect.base2 %>
</p>

<p>
  <b>Max:</b>
  <%= @effect.max %>
</p>


<%= link_to 'Edit', edit_effect_path(@effect) %> |
<%= link_to 'Back', effects_path %>
