<h1>Listing resist_types</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resist_types.each do |resist_type| %>
  <tr>
    <td><%= resist_type.id %></td>
    <td><%= resist_type.name %></td>
    <td><%= link_to 'Show', resist_type %></td>
    <td><%= link_to 'Edit', edit_resist_type_path(resist_type) %></td>
    <td><%= link_to 'Destroy', resist_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resist type', new_resist_type_path %>
