<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @resist_type.id %>
</p>

<p>
  <b>Name:</b>
  <%= @resist_type.name %>
</p>


<%= link_to 'Edit', edit_resist_type_path(@resist_type) %> |
<%= link_to 'Back', resist_types_path %>
