<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @reagent.id %>
</p>

<p>
  <b>Name:</b>
  <%= @reagent.name %>
</p>


<%= link_to 'Edit', edit_reagent_path(@reagent) %> |
<%= link_to 'Back', reagents_path %>
