<h1>Listing spells</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Range</th>
    <th>Target type</th>
    <th>Usable by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spells.each do |spell| %>
  <tr>
    <td><%= spell.id %></td>
    <td><%= spell.name %></td>
    <td><%= spell.type_id %></td>
    <td><%= spell.range %></td>
    <td><%= spell.target_type_id %></td>
    <td><%= spell.usable_by_id %></td>
    <td><%= link_to 'Show', spell %></td>
    <td><%= link_to 'Edit', edit_spell_path(spell) %></td>
    <td><%= link_to 'Destroy', spell, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spell', new_spell_path %>
