<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @spell.id %>
</p>

<p>
  <b>Name:</b>
  <%= @spell.name %>
</p>

<p>
  <b>Type:</b>
  <%= @spell.type_id %>
</p>

<p>
  <b>Range:</b>
  <%= @spell.range %>
</p>

<p>
  <b>Target type:</b>
  <%= @spell.target_type_id %>
</p>

<p>
  <b>Usable by:</b>
  <%= @spell.usable_by_id %>
</p>


<%= link_to 'Edit', edit_spell_path(@spell) %> |
<%= link_to 'Back', spells_path %>
