<%= form_for(@zone_type) do |f| %>
  <% if @zone_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone_type.errors.count, "error") %> prohibited this zone_type from being saved:</h2>

      <ul>
      <% @zone_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
