<h1>Listing zone_types</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zone_types.each do |zone_type| %>
  <tr>
    <td><%= zone_type.id %></td>
    <td><%= zone_type.name %></td>
    <td><%= link_to 'Show', zone_type %></td>
    <td><%= link_to 'Edit', edit_zone_type_path(zone_type) %></td>
    <td><%= link_to 'Destroy', zone_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zone type', new_zone_type_path %>
