<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @zone_type.id %>
</p>

<p>
  <b>Name:</b>
  <%= @zone_type.name %>
</p>


<%= link_to 'Edit', edit_zone_type_path(@zone_type) %> |
<%= link_to 'Back', zone_types_path %>
