<h1>Listing target_types</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @target_types.each do |target_type| %>
  <tr>
    <td><%= target_type.id %></td>
    <td><%= target_type.name %></td>
    <td><%= link_to 'Show', target_type %></td>
    <td><%= link_to 'Edit', edit_target_type_path(target_type) %></td>
    <td><%= link_to 'Destroy', target_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target type', new_target_type_path %>
