<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @target_type.id %>
</p>

<p>
  <b>Name:</b>
  <%= @target_type.name %>
</p>


<%= link_to 'Edit', edit_target_type_path(@target_type) %> |
<%= link_to 'Back', target_types_path %>
