<!DOCTYPE html>
<html>
<head>
  <title>SoD Spell Parser</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<table border="0">
	<tr>
		<td valign="top" width="200px"><img src="sod-logo.png"></td>
		<td valign="center"><div class="pagetop">Spell Parsing Portal</div></td>
	</tr>
	<tr>
		<td valign="top">
			<span class="leftnav">
				<br/><br/>
				<%= link_to "Search Spells", search_spells_path %><br/>
				<%= link_to "Upload Spell File", upload_index_path %><br/>
			</span>
		</td>
		<td valign="top">
			<%= yield %>
		</td>
	</tr>
</table>

</table>
</body>
</html>
