<!DOCTYPE html>
<html>
<head>
  <title>SoD Spell Parser</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="header" id="Header">
		<div class="pagetop">
			<p>The Official Shards of Dalaya</p><br/>
			<h1>Spell Parsing Portal</h1>
		</div>
	</div>

	<div class="content" id="content">
		<input type="button" value="Search Spells" onclick="parent.location='<%= search_spells_path %>'" /><br/>
		<%= yield %>
		<div class="push"></div>
	</div>


	<div class="footer" id="footer">		
		<p>Original spell parser made exclusively for <a href="http://www.shardsofdalaya.com">Shards of Dalaya</a>.</p> 
	</div>
	
</body>
</html>
